PORT = 3000
VITE_NODE_ENV = development
VITE_PRODUCT_API = https://course.spacedev.vn/product
VITe_AUTHEN_API = https://course.spacedev.vn/authentication/v2
VITe_USER_API = https://course.spacedev.vn/users